/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-medium: 0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.44),
    0.8px 0.9px 1.3px -0.7px hsl(var(--shadow-color) / 0.42),
    1.7px 1.8px 2.7px -1.4px hsl(var(--shadow-color) / 0.41),
    3.6px 3.7px 5.6px -2.1px hsl(var(--shadow-color) / 0.39),
    7.1px 7.4px 11.2px -2.7px hsl(var(--shadow-color) / 0.37);
  --full-screen-height: calc(100vh - 8% - 4rem);
  --color-primary-400: #fc5185;
  --color-neutral-900: #101010;
}

@keyframes titleEntry {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pEntry {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes contactEntry {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes contactMenuShow {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes contactMenuHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes contactMenuMarginAdd {
  from {
    margin: 0;
  }
  to {
    margin: 0.5rem 0;
  }
}
@keyframes contactMenuMarginRemove {
  from {
    margin: 0.5rem 0;
  }
  to {
    margin: 0;
  }
}
.contact-menu {
  position: absolute;
  right: 3%;
  top: 2%;
  background-color: black;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-elevation-medium);
  z-index: 1;
  transform: translateY(-150%);
}
.contact-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}
.contact-menu__list-item {
  animation: contactMenuMarginRemove 0.5s ease both;
}
.contact-menu__link {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
}
.contact-menu__link:visited {
  color: inherit;
}
.contact-menu__link:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary-400);
  transition: width 0.3s ease;
}
.contact-menu__link:hover::after {
  width: 100%;
}
.contact-menu--active {
  animation: contactMenuShow 1s ease both;
}
.contact-menu--active li {
  animation: contactMenuMarginAdd 0.5s 0.5s ease both;
}
.contact-menu--inactive {
  animation: contactMenuHide 1s ease both;
}

@media (min-width: 320px) {
  .contact-menu {
    border: solid 3px var(--color-primary-400);
    top: 5%;
    right: 8%;
  }
  .contact-menu__link::after {
    width: 80%;
  }
}
@media (min-width: 961px) {
  .contact-menu {
    border: none;
    right: 3%;
  }
  .contact-menu__link::after {
    width: 0%;
  }
}
@media (width > 1580px) {
  .page-1__header__menu {
    font-size: 1.2rem;
  }
}
@media (width > 1920px) {
  .page-1__header__menu {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) {
  body {
    background-image: linear-gradient(
      to left bottom,
      #602135,
      #542132,
      #48212e,
      #3c202a,
      #301f25,
      #291c20,
      #221a1c,
      #1b1718,
      #161314,
      #110e0e,
      #090708,
      #000000
    );
    height: --webkit-fill-available;
  }
  .page-1 {
    height: 100%;
  }
  .page-1__container {
    height: 98%;
    margin: 2% 2%;
    border: 3px solid var(--color-primary-400);
    border-radius: 0.5rem;
  }
  .page-1__header {
    padding: 1rem 1rem 0 0;
  }
  .page-1__square-accent {
    background-color: #fc5185;
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: 10%;
    left: 10%;
    z-index: -1;
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-high);
  }
  .page-1__title {
    font-size: clamp(3.5rem, 9vw, 20rem);
    font-weight: 400;
    height: 50%;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    animation: titleEntry 1s ease-in-out both;
    padding: 5rem 0 0 1rem;
  }
  .page-1__paragraph {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 300;
    height: 40%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8%;
    padding-left: 8%;
    text-align: right;
    position: relative;
    gap: 0.5rem;
    width: 35ch;
    animation: pEntry 1s 0.5s ease-in-out both;
  }
  .page-1__paragraph:after {
    content: "";
    display: block;
    width: 10px;
    height: 12rem;
    background-color: var(--color-primary-400);
    margin-top: 1rem;
    position: absolute;
    right: 0;
    border-radius: 0.5rem;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  .page-1__container {
    height: 92%;
  }
  .page-1__header {
    padding: 1rem 2rem 0 0;
  }
  .page-1__square-accent {
    top: 0;
    left: 15%;
    width: 40vw;
    height: 40vw;
  }
  .page-1__title {
    align-items: flex-end;
  }
  .page-1__paragraph {
    width: auto;
    font-size: 1rem;
  }
  .page-1__paragraph::after {
    right: 5%;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .page-1__square-accent {
    width: 32vw;
    height: 32vw;
  }
  .page-1__paragraph::after {
    height: 10rem;
  }
}
@media (width > 1200px) and (height > 900px) and (height < 1200px) {
  .page-1__square-accent {
    width: 42vw;
    height: 42vw;
  }
}
@media (width > 1580px) {
  .page-1__square-accent {
    width: 40vw;
    height: 40vw;
  }
  .page-1__paragraph {
    padding-top: 2rem;
    font-size: 1.2rem;
  }
  .page-1__title {
    padding-bottom: 2rem;
  }
}
@media (width > 1650px) {
  .page-1__square-accent {
    width: 32vw;
    height: 32vw;
  }
}
@media (width > 1920px) {
  .page-1__square-accent {
    width: 40vw;
    height: 40vw;
  }
  .page-1__paragraph {
    padding-top: 7rem;
    font-size: 1.5rem;
  }
  .page-1__paragraph:after {
    height: 15rem;
  }
}
@media (width > 2500px) {
  .page-1__square-accent {
    width: 32vw;
    height: 32vw;
  }
}
@media (width > 2500px) and (height > 1700px) {
  .page-1__square-accent {
    width: 40vw;
    height: 40vw;
  }
  .page-1__paragraph {
    font-size: 2rem;
  }
}
@media (width > 3600px) {
  .page-1__square-accent {
    width: 32vw;
    height: 32vw;
    border: 1px solid white;
  }
}
body {
  background-image: linear-gradient(
    to left bottom,
    #602135,
    #542132,
    #48212e,
    #3c202a,
    #301f25,
    #291c20,
    #221a1c,
    #1b1718,
    #161314,
    #110e0e,
    #090708,
    #000000
  );
  background-color: var(--color-neutral-900);
  color: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.page-1__header {
  text-align: right;
  font-size: clamp(1rem, 1vw, 1.5rem);
  animation: contactEntry 1s 1s ease-in-out both;
}

.page-1__header__menu {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
