*,
::after,
::before {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0
}

canvas,
img,
picture,
svg,
video {
    display: block;
    max-width: 100%
}

button,
input,
select,
textarea {
    font: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word
}

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-medium: 0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.44), 0.8px 0.9px 1.3px -0.7px hsl(var(--shadow-color) / 0.42), 1.7px 1.8px 2.7px -1.4px hsl(var(--shadow-color) / 0.41), 3.6px 3.7px 5.6px -2.1px hsl(var(--shadow-color) / 0.39), 7.1px 7.4px 11.2px -2.7px hsl(var(--shadow-color) / 0.37);
    --full-screen-height: calc(100vh - 8% - 4rem);
    --color-primary-400: #FA7268;
    --color-neutral-900: #101010
}

@keyframes titleEntry {
    from {
        opacity: 0;
        transform: translateY(-30%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes pEntry {
    from {
        opacity: 0;
        transform: translateX(-10%)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes contactEntry {
    from {
        opacity: 0;
        transform: translateY(-100%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes contactMenuShow {
    from {
        opacity: 0;
        transform: translateY(-100%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes contactMenuHide {
    from {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(-100%)
    }
}

@keyframes contactMenuMarginAdd {
    from {
        margin: 0
    }

    to {
        margin: .5rem 0
    }
}

@keyframes contactMenuMarginRemove {
    from {
        margin: .5rem 0
    }

    to {
        margin: 0
    }
}

@media(min-width:320px) {
    .contact-menu {
        top: 8%;
        right: 8%
    }

    .page-1 {
        height: 98%
    }

    .page-1__header {
        padding: 1rem 1rem 0 0
    }

    .page-1__title {
        font-size: clamp(3.5rem, 9vw, 20rem);
        font-weight: 400;
        height: 50%;
        display: flex;
        justify-content: center;
        line-height: 1.5;
        animation: 1s ease-in-out both titleEntry;
        padding: 4rem 0 0 4%;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, .25)
    }

    .page-1__paragraph {
        margin-top: 3rem;
        font-size: clamp(1.3rem, 2.5vw, 1.8rem);
        height: 40%;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        padding-right: 8%;
        padding-left: 8%;
        gap: .5rem;
        width: 35ch;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .25);
        animation: 1s ease-in-out .5s both pEntry;
        text-align: left
    }
}

.contact-menu {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 1.5rem 3rem;
    border-radius: .5rem;
    box-shadow: var(--shadow-elevation-medium);
    z-index: 1;
    transform: translateY(-150%);
    top: 3%;
    right: 3%
}

.contact-menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: .5rem
}

.contact-menu__list-item {
    animation: .5s ease-in-out both contactMenuMarginRemove
}

.contact-menu__link {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem
}

.contact-menu__link:visited {
    color: inherit
}

.contact-menu__link:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary-400);
    transition: width .3s
}

.contact-menu__link:hover::after {
    width: 100%
}

.contact-menu--active {
    animation: 1s both contactMenuShow
}

.contact-menu--active li {
    animation: .5s .5s both contactMenuMarginAdd
}

.contact-menu--inactive {
    animation: 1s both contactMenuHide
}

body {
    background: url("./assets/background.svg") center center/cover no-repeat fixed;
    color: #fff;
    font-family: Poppins, sans-serif;
    line-height: 1.5
}

.page-1__header {
    margin-top: 1rem;
    text-align: right;
    font-size: clamp(1rem, 1vw, 1.5rem);
    animation: 1s ease-in-out 1s both contactEntry
}

.page-1__header__menu {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, .25);
    font-size: 1.5rem;
    margin-right: 5%;
    padding: 0;
}

.page-1__paragraph {
    text-align: right;
    margin-right: 10rem;
    width: 100%;
    font-family: "Azeret Mono", monospace;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
}